In [6]:
import pandas as pd

# Read CSV File
pd.set_option('display.max_columns', None)
df = pd.read_csv('fifa21 raw data v2.csv')

C:\Users\IMRAN\AppData\Local\Temp\ipykernel_6640\48972404.py:5: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('fifa21 raw data v2.csv')

In [7]:
# List of current Premier League teams
clubs = [
    "Arsenal",
    "Aston Villa",
    "Brentford",
    "Brighton & Hove Albion",
    "Burnley",
    "Chelsea",
    "Crystal Palace",
    "Everton",
    "Leeds United",
    "Leicester City",
    "Liverpool",
    "Manchester City",
    "Manchester United",
    "Newcastle United",
    "Norwich City",
    "Southampton",
    "Tottenham Hotspur",
    "Watford",
    "West Ham United",
    "Wolverhampton Wanderers"
]

In [8]:
# Drop Columns
df = df.drop(columns=['Name','ID','photoUrl','playerUrl','POT','Contract','Weight','Positions','BOV','Joined','Loan Date End','Hits'])
df = df.drop(columns=df.columns[10:59])

In [9]:
# Replace Values 
df['Club'] = df['Club'].str.replace('\n', '')
df['Value'] = df['Value'].str.replace('€', '')
df['Wage'] = df['Wage'].str.replace('€', '')
df['Wage'] = df['Wage'].str.replace('K', '')
df['Height'] = df['Height'].str.replace('cm', '')
df['Height'] = df['Height'].str.replace('"', '')

In [10]:
# Define a function to convert strings like '130k' and '3M' to numeric values
def convert_to_numeric(value):
    value = value.upper()  # Convert to uppercase to handle both 'k' and 'M'
    if 'K' in value:
        return float(value.replace('K', '')) * 1000
    elif 'M' in value:
        return float(value.replace('M', '')) * 1000000
    else:
        return float(value)

# Apply the function to the Value
df['Value'] = df['Value'].apply(convert_to_numeric)

# Convert Wage to float
df['Wage'] = df['Wage'].astype(float)

df['Wage'] = df['Wage'] * 1000

In [11]:
# Rename Columns
df.rename(columns={'↓OVA': 'Rating'}, inplace=True)
df.rename(columns={'LongName': 'Name'}, inplace=True)
df.rename(columns={'Best Position': 'Position'}, inplace=True)
df.rename(columns={'Preferred Foot': 'Foot'}, inplace=True)
df.rename(columns={'Value': 'Value(€)'}, inplace=True)
df.rename(columns={'Wage': 'Weekly Wage(€)'}, inplace=True)
df.rename(columns={'Height': 'Height(cm)'}, inplace=True)

In [12]:
# Filter for Premier League teams
df = df[df['Club'].isin(clubs)]

In [13]:
# Change Height from feet to cm
def feet_to_cm(height):
    if "'" in height:  # Check if the height is in feet
        feet, inches = height.split("'")  # Split feet and inches
        total_inches = int(feet) * 12 + int(inches)  # Convert feet and inches to total inches
        cm = total_inches * 2.54  # Convert inches to cm
        return cm
    else:
        return int(height)  # If already in cm, return as it is

# Apply the function to the height column
df['Height(cm)'] = df['Height(cm)'].apply(feet_to_cm)

In [14]:
df

,Name,Nationality,Age,Rating,Club,Height(cm),Foot,Position,Value(€),Weekly Wage(€),PAC,SHO,PAS,DRI,DEF,PHY
3,Kevin De Bruyne,Belgium,29,91,Manchester City,181.0,Right,CAM,129000000.0,370000.0,76,86,93,88,64,78
6,Mohamed Salah,Egypt,28,90,Liverpool,175.0,Left,RW,120500000.0,250000.0,93,86,81,90,45,75
7,Alisson Ramses Becker,Brazil,27,90,Liverpool,191.0,Right,GK,102000000.0,160000.0,86,88,85,89,51,91
10,Virgil van Dijk,Netherlands,28,90,Liverpool,193.0,Right,CB,113000000.0,210000.0,76,60,71,71,91,86
11,Sadio Mané,Senegal,28,90,Liverpool,175.0,Right,LW,120500000.0,250000.0,94,85,80,90,44,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,Adam Parkes,England,20,52,Watford,185.0,Right,GK,170000.0,1000.0,51,53,49,51,24,50
18407,Lewis Brunt,England,19,52,Aston Villa,178.0,Right,CM,210000.0,4000.0,65,40,53,49,44,53
18462,Daniel Phillips,England,19,52,Watford,175.0,Right,RM,210000.0,1000.0,63,46,49,53,49,55
18551,Michael Tait,England,19,52,Aston Villa,178.0,Right,ST,210000.0,5000.0,60,53,39,53,19,44
18695,Callum Rowe,England,20,51,Aston Villa,180.0,Right,CAM,140000.0,6000.0,61,38,51,54,43,52