In [142]:
import pandas as pd

# Read CSV File
pd.set_option('display.max_columns', None)
df = pd.read_csv('fifa21 raw data v2.csv')

C:\Users\IMRAN\AppData\Local\Temp\ipykernel_7880\48972404.py:5: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('fifa21 raw data v2.csv')

In [143]:
# List of current Premier League teams
clubs = [
    "Arsenal",
    "Aston Villa",
    "Brentford",
    "Brighton & Hove Albion",
    "Burnley",
    "Chelsea",
    "Crystal Palace",
    "Everton",
    "Leeds United",
    "Leicester City",
    "Liverpool",
    "Manchester City",
    "Manchester United",
    "Newcastle United",
    "Norwich City",
    "Southampton",
    "Tottenham Hotspur",
    "Watford",
    "West Ham United",
    "Wolverhampton Wanderers"
]

In [144]:
# Drop Columns
df = df.drop(columns=['Name','ID','photoUrl','playerUrl','POT','Contract','Weight','Positions','BOV','Joined','Loan Date End','Hits'])
df = df.drop(columns=df.columns[10:59])

In [145]:
# Replace Values 
df['Club'] = df['Club'].str.replace('\n', '')
df['Value'] = df['Value'].str.replace('€', '')
df['Wage'] = df['Wage'].str.replace('€', '')
df['Wage'] = df['Wage'].str.replace('K', '')
df['Height'] = df['Height'].str.replace('cm', '')

In [146]:
# Define a function to convert strings like '130k' and '3M' to numeric values
def convert_to_numeric(value):
    value = value.upper()  # Convert to uppercase to handle both 'k' and 'M'
    if 'K' in value:
        return float(value.replace('K', '')) * 1000
    elif 'M' in value:
        return float(value.replace('M', '')) * 1000000
    else:
        return float(value)

# Apply the function to the Value
df['Value'] = df['Value'].apply(convert_to_numeric)

# Convert Wage to float
df['Wage'] = df['Wage'].astype(float)

df['Wage'] = df['Wage'] * 1000

In [147]:
# Function to format numbers with commas
def format_with_commas(value):
    return '{:,.1f}'.format(value)

# Formatting for Numbers for better readability
df['Value'] = df['Value'].apply(format_with_commas)
df['Wage'] = df['Wage'].apply(format_with_commas)

In [148]:
# Rename Columns
df.rename(columns={'↓OVA': 'Rating'}, inplace=True)
df.rename(columns={'LongName': 'Name'}, inplace=True)
df.rename(columns={'Best Position': 'Position'}, inplace=True)
df.rename(columns={'Preferred Foot': 'Foot'}, inplace=True)
df.rename(columns={'Value': 'Value(€)'}, inplace=True)
df.rename(columns={'Wage': 'Weekly Wage(€)'}, inplace=True)
df.rename(columns={'Height': 'Height(cm)'}, inplace=True)

In [149]:
# Filter for Premier League teams
df = df[df['Club'].isin(clubs)]

In [150]:
df

,Name,Nationality,Age,Rating,Club,Height(cm),Foot,Position,Value(€),Weekly Wage(€),PAC,SHO,PAS,DRI,DEF,PHY
3,Kevin De Bruyne,Belgium,29,91,Manchester City,181,Right,CAM,"129,000,000.0","370,000.0",76,86,93,88,64,78
6,Mohamed Salah,Egypt,28,90,Liverpool,175,Left,RW,"120,500,000.0","250,000.0",93,86,81,90,45,75
7,Alisson Ramses Becker,Brazil,27,90,Liverpool,191,Right,GK,"102,000,000.0","160,000.0",86,88,85,89,51,91
10,Virgil van Dijk,Netherlands,28,90,Liverpool,193,Right,CB,"113,000,000.0","210,000.0",76,60,71,71,91,86
11,Sadio Mané,Senegal,28,90,Liverpool,175,Right,LW,"120,500,000.0","250,000.0",94,85,80,90,44,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,Adam Parkes,England,20,52,Watford,185,Right,GK,"170,000.0","1,000.0",51,53,49,51,24,50
18407,Lewis Brunt,England,19,52,Aston Villa,178,Right,CM,"210,000.0","4,000.0",65,40,53,49,44,53
18462,Daniel Phillips,England,19,52,Watford,175,Right,RM,"210,000.0","1,000.0",63,46,49,53,49,55
18551,Michael Tait,England,19,52,Aston Villa,178,Right,ST,"210,000.0","5,000.0",60,53,39,53,19,44
18695,Callum Rowe,England,20,51,Aston Villa,180,Right,CAM,"140,000.0","6,000.0",61,38,51,54,43,52